{:paths ["src" "resources"]
 :deps {ripley/ripley {:git/url "https://github.com/tatut/ripley.git"
                       :sha "0d8221844bd4ad8c27ebcef1c0876588ab89a256"}

        compojure/compojure {:mvn/version "1.6.1"}
        http-kit/http-kit {:mvn/version "2.5.3"}
        com.xtdb/xtdb-core {:mvn/version "1.19.0-beta1"}
        com.xtdb/xtdb-metrics {:mvn/version "1.19.0-beta1"}}
 :aliases {:dev {:extra-paths ["dev-src"]}}}
