{:paths ["src" "resources"]
 :deps {ripley/ripley {:git/url "https://github.com/tatut/ripley.git"
                        :sha "b4357d9dafe347ba3cf79efb2a156fe75354a428"}

        compojure/compojure {:mvn/version "1.6.1"}
        http-kit/http-kit {:mvn/version "2.5.3"}
        com.xtdb/xtdb-core {:mvn/version "1.19.0-beta1"}}
 :aliases {:dev {:extra-paths ["dev-src"]}}}
